<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h2 th:text="${message}" ></h2>

	<h1>WELCOME TO ADMIN DASHBOARD</h1>
	
	<a href="readAllBookings">READ ALL BOOKINGS</a><br><br>

	<a href="readAllContacts">READ ALL CONTACTS</a><br><br>
	
	<a href="readAllServices">READ ALL Services</a><br><br>
	
	<a href="addService">ADD SERVICE</a><br><br>
	
	<a href="changeCredentials">CHANGE CREDENTIALS</a><br><br><br><br><br><br>
	
	<a href="/dologout">LOGOUT FROM ADMIN</a>
</body>
</html>